---
layout: default
home: true
---

{% include author.html %}

<div class="home">
    <div class="about">
        <p>
            I am a software developer. Presently, I am pursuing my MS in Computer Science degree at
            <a href="https://www.utdallas.edu" target="_blank">The University of Texas at Dallas</a>. I intend to
            major in the Systems track. Before this, I worked as a software engineer for four years in India. I've
            worked mainly as a back-end developer with some devops, but I also have experience with front-end. I am
            interested to learn about building scalable solutions and the architecture of large-scale distributed
            systems.<br />
            My latest job was at <a href="https://www.linkedin.com/company/walmartglobaltechindia/" target="_blank">
            Walmart Global Tech India</a>, where I worked in the E-Commerce domain for Walmart
            Mexico. The critical thing I learned here was how to handle migrations and tech debt at scale. Before this,
            I worked at <a href="https://www.linkedin.com/company/oyo-rooms" target="_blank">OYO</a> in their IoT team,
            where I developed multiple microservices from scratch and managed their devops infra. I also worked on a few
            front-end apps and websites. The fast-paced startup environment and a smaller dev team gave me a lot of
            opportunities to experiment with new ideas. <br />
            Before working full-time, I did my undergraduate degree in metallurgy at <a href="https://www.iitbhu.ac.in/"
                target="_blank">IIT (BHU) Varanasi</a>. I also learned motion
            graphics animation, videography, and graphic design. Please check out <a
                href="https://shubhamjha.myportfolio.com/" target="_blank">my art portfolio website.</a><br />
            Feel free to email me if you want to reach out, and Thanks for spending time on my website.

        </p>
    </div>

    <div class="home-item">
        <h2>Education</h2>
        <div class="home-item-wrapper">
            <img class="image" src="/assets/img/utd-logo.jpg" alt="IIT BHU" />
            <div class="details">
                <h3 class="title">The University of Texas at Dallas</h3>
                <p class="subtitle"><strong>Master of Science</strong> in Computer Science</p>
                <p class="desc">August 2022 to Present</p>
                <p class="desc">Richardson, TX</p>
            </div>
        </div>

        <div class="home-item-wrapper">
            <img class="image" src="/assets/img/iitbhu-logo.jpg" alt="UT Dallas" />
            <div class="details">
                <h3 class="title">Indian Institute of Technology (BHU) Varanasi</h3>
                <p class="subtitle"><strong>Bachelor of Technology</strong> in Metallurgical Engineering</p>
                <p class="desc">July 2014 to May 2018</p>
                <p class="desc">Varanasi, India</p>
            </div>
        </div>
    </div>
    <div class="home-item">
        <h2>Experience</h2>
        <div class="home-item-wrapper">
            <img class="image" src="/assets/img/wmgts-logo.jpg" alt="Walmart Global Tech India" />
            <div class="details">
                <h3 class="title">Walmart Global Tech India</h3>
                <p class="subtitle">Software Development Engineer III &nbsp; - &nbsp; Walmart Mexico E-Commerce</p>
                <p class="desc">Dec 2020 to Jul 2022</p>
                <p class="desc">I was a member of the Promotions team for Walmart Mexico. My primary role was to migrate
                    the promotions platform from legacy architecture to newer microservices. After migration, we reduced
                    the cart page load-time from 2.5s to 1s, saved $MXN 16M in licensing fees, and decreased overall
                    promotion set-up time by 96%. We also enhanced the platform by integrating the in-store and
                    e-Commerce promotions to create a unified customer experience and an internal promotion set-up
                    pipeline.<br />
                    Later, I moved to the Payments team, where I worked on creating an auto-renewal payment service for
                    Walmart Mexico membership programs.
                </p>
            </div>
        </div>

        <div class="home-item-wrapper">
            <img class="image" src="/assets/img/oyo-logo.jpg" alt="OYO" />
            <div class="details">
                <h3 class="title">OYO</h3>
                <p class="subtitle">Software Development Engineer I & II &nbsp; - &nbsp; OYO Mesh (IoT Team)</p>
                <p class="desc">June 2018 to Dec 2020</p>
                <p class="desc">I was one of the first members of the IoT team. This was my first job after graduating,
                    so I learned a lot here. We developed a scalable back-end from scratch for a network of more than
                    50,000 Energy monitoring and conserving IoT devices, OYO Switch, deployed in 10,000 hotels across
                    India. I also created an Android app that was used for the initial set-up of the device. We also
                    created a React based tech-support portal, where we could see the devices' status and analytical
                    data. This website supported the hotel staff in case a device went offline.<br />
                    As an experiment project, we created multiple IoT enabled smart hotel rooms, where all room
                    appliances could be controlled via Alexa voice commands. I integrated the Alexa toolkit and the
                    back-end server using AWS Lambda.<br />
                    The next project was to design and develop the back-end for a Bluetooth-based Offline Smart-lock
                    installed at 500 vacation homes. We used the HMAC algorithm to generate codes on the fly for guests,
                    and the passcodes would remain active only during their stay. I also worked on a React Native
                    cross-platform app to set up and maintain the lock.
                </p>
            </div>
        </div>
    </div>
    <div class="home-item">
        <h2>Projects</h2>
        <div class="home-item-wrapper">
            <img class="image" src="/assets/img/khwish-logo.jpg" alt="Khwish" />
            <div class="details">
                <h3 class="title">Khwish</h3>
                <p class="desc">Feb 2020 to May 2020</p>
                <p class="desc">I created a community funding platform, where users could create events, goals or wishes
                    and share them with their friends. Friends & family could contribute money to support the events.
                    The platform consisted of 3 applications,
                    <a href="https://www.github.com/2sjha/khwish-app" target="_blank">an Android app</a>,
                    <a href="https://www.github.com/2sjha/khwish-web" target="_blank">a React website</a>, and
                    <a href="https://www.github.com/2sjha/khwish-backend" target="_blank">a Spring Boot back-end</a>.
                    You can read more about it <a href="https://gist.github.com/2sjha/b9012f396290bf3b8ebfc2b89fcd01c4"
                        target="_blank">here</a>.
                </p>
            </div>
        </div>
    </div>
</div>